{% extends 'base.html' %}
{% load static%}

{% block content %}
<center> 
    <h1>BIOGRAFI</h1>
    <img src="{% static 'img/putri.jpeg' %}" alt="Logo Untirta" width="200px">

    <p> Putri Wulandari adalah pembuat website ini. Lahir pada tanggal 26 Desember 2002, di Tangerang. Penulis merupakan anak ke-3 dari 3 bersaudara, dari pasangan Sukarso dan Krismiyati</p>
    <p> Penulis pertama kali masuk pendidikan di Paud Bina Sakura dan lulus pada tahun 2021 di SMAN 4 Kota Tangeranf. DAn pada tahun yang sama penulis terdaftar sebagai Mahasiswa di Universitas Sultan Ageng Tirtayasa Jurusan Pendidikan Matematika FKIP hingga saat ini.</p>
    <p>Semoga dengan website ini mampu memberikan kontribusi positif bagi dunia pendidikan. Akhir Kata pembuat website mengucapkan rasa syukur yang sebesar-besarnya atas terselesainya website bahan ajat yang berjudul "Bangun Ruang Sisi Datar" </p>
</center>

{% endblock %}
