{% extends 'base.html' %}
{% block content %}

<h1>RINGKASAN</h1>
<strong>LIMAS :</strong>
			<p>1. Limas adalah bangun ruang yang dibatasi oleh sebuah bidang segibanyak sebagai sisi alas dan sisi-sisi tegak berbentuk segitiga</p>
			<p>2. Rumus soal Limas  L = S² + ( 4 x ½ x s x t ) dengan keterangan S = Panjang sisi alas limas dan t = Tinggi sisi tegak limas</p>
			<p>3.  Rumus volume Limas V = 1/3 At dengan,  A = Luas alas limas dan t = Tinggi Limas</p>
			<p>4. Rumus Luas permukaan limas = Luas alas + Luas seluruh sisi tegak</p>

            <strong>PRISMA</strong>
			<p>1. Prisma adalah bangun ruang yang memiliki bentuk alas dan
atap yang sama bentuk dan aturannya. Selain itu, semua sisi bagian samping
berbentuk persegipanjang. </p>
			<p> 2. . Terdapat 8 sisi atau bidang yang dimiliki oleh prisma segienam, yaitu
ABCDEF (sisi alas), GHIJKL (sisi atas), BCIH (sisi depan), FEKL (sisi
belakang), ABHG (sisi depan kanan), AFLG (sisi belakang kanan), CDJI
(sisi depan kiri), dan DEKJ (sisi belakang kiri). </p>
			<p> 3. Prisma segienam ABCDEF.GHIJKL memiliki 18 rusuk, 6 di antaranya adalah rusuk tegak. Rusuk-rusuk tersebut adalah AB, BC, CD, DE, EF, FA, 
GH, HI, IJ, JK, KL, LG, dan rusuk-rusuk tegaknya adalah AG, BH, CI, DJ, EK, FL.</p>
			<p>4. Prisma segienam ABCDEF.GHIJKL memiliki 12 titik sudut. </p>
			<p> 5. Rumus Luas permukaan prisma = 2 · luas alas + luas bidang-bidang tegak </p>

<strong> Kubus </strong>
<p> 1.  Kubus adalah sebuah bangun ruang yang semua sisinya berbentuk persegi dan semua rusuknya sama Panjang. </p>
<p> 2.  Semua sisi kubus berbentuk persegi. </p>
<p> 3. Semua rusuk kubus berukuran sama panjang. </p>
<p> 4. Setiap diagonal bidang pada kubus memiliki ukuran yang sama panjang. </p>
<p> 5. Setiap diagonal ruang pada kubus memiliki ukuran sama panjang. </p>
<p> 6. Setiap bidang diagonal pada kubus memiliki bentuk persegipanjang. </p>
<p> 7. Rumus Luas permukaan kubus = 6s² </p>
<p> 8. Rumus Volume kubus = s³ </p>

<strong> Balok </strong>
<p> 1.  Balok adalah bangun ruang yang memiliki tiga pasang sisi berhadapan yang sama bentuk dan ukurannya, di mana setiap sisinya berbentuk persegipanjang </p>
<p> 2. Sisi-sisi balok berbentuk persegipanjang. </p>
<p> 3. Rusuk-rusuk yang sejajar memiliki ukuran sama panjang. </p>
<p> 4. Setiap diagonal bidang pada sisi yang berhadapan memiliki ukuran sama panjang. </p>
<p> 5. Setiap diagonal ruang pada balok memiliki ukuran sama panjang. </p>
<p> 6. Setiap bidang diagonal pada balok memiliki bentuk persegipanjang. </p>
<p> 7. Rumus Luas permukaan balok = 2(pl + lt + pt) </p>
<p> 8. Rumus Volume balok = panjang × lebar × tinggi = p × l × t </p>

{% endblock %}